html,
body {
    padding: 0;
    margin: 0;
    font-family: SVN-Poppins;
    background-color: whitesmoke;
}

.news {
    margin: 20px;
    text-align: center;
}

.news-content {
    display: block;
    text-align: justify;
}

#icon {
    width: 18px;
    height: 18px;
}

h2 {
    color: palevioletred;
}

span a {
    text-decoration: none;
    color: palevioletred;
    font-weight: 700;
}

#highlight {
    color: red;
    font-weight: 700;
}

p#illustrate {
    text-align: center;
}

li {
    font-weight: 700;
}

li span {
    font-weight: normal;
}

#breadcrumb div {
    float: left;
    line-height: 30px;
}

#breadcrumb {
    height: 30px;
    font-size: 16px;
    margin-left: 15px;
}

#breadcrumb a {
    text-decoration: none;
    padding: 0 5px;
    color: #666;
}

a {
    cursor: pointer;
}