.view-product-detail-btn{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: black;
    /* background-color: var(--baltic-sea); */
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
    border-radius:10px;
}
.product-item:hover .view-product-detail-btn{
    opacity: 1;
}
.view-product-detail-btn .fas{
    margin-right: 0.4rem;
}
.view-product-detail-btn:hover{
    background-color: #23272a;
}
.view-product-detail-btn:hover{
    /* color: var(--fire-bush); */
    color: #DB7093;
}