<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang sản phẩm</title>
    <style>
        img {
            width: 100px;
        }
        
        h3 {
            color: red;
        }
        
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .products .row {
            margin: 50px;
            flex: 1;
        }
        
        .products_img:hover {
            cursor: pointer;
            background-color: rgba(0, 255, 255, 0.1);
        }
    </style>
    <!-- <script>
        function goDetail(mapet) {
            // window.location.href = "detail.html?matour=" + matour;
            window.location.href = "products_detail.html?mapet=" + mapet;
        }
    </script> -->
    <script src="./js/angular.js"></script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("ProductController", function($scope, $http) {
            $http({
                method: "GET",
                url: "./json/products.json"
            }).then(
                function success(response) {
                    $scope.products = response.data;
                },
                function error(response) {
                    $scope.products = response.statusText;
                }
            );

            $scope.selectProduct = function(val) {
                $scope.productDetails = val;
            }
        })
    </script>
</head>

<body ng-app="angularApp" ng-controller="ProductController">


    <div class="products" id="idneee">

        <div class="row">
            <!-- <div class="products_img" onclick="goDetail('dg12')">
                <img src="./library/products/dog/DG_FO_sp1.jpg" alt="" id="proimg">
                <h3>Tên sản phẩm</h3>
                <p>Giá tiền</p>
                <input type="text" name="matour" id="matour">
                <input type="submit" value="Ahihi">
            </div> -->
            <table class="table table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Thương hiệu</th>
                    <th>Giá</th>
                </tr>
                <tr ng-repeat="p in products">
                    <td><a href="products_detail.html?productId={{p.productid}}"> {{p.productid}}</a></td>
                    <td ng-click="selectProduct(p)">{{p.name}}</td>
                    <td>{{p.label}}</td>
                    <td>{{p.price}}</td>
                    <td> <img ng-src="{{p.image}}"></td>
                    <td>{{p.color[0].backgroundcolor}}</td>
                </tr>
            </table>
        </div>

    </div>
    <!-- <script>
    var xmlhttp = new XMLHttpRequest();
    var url = "products.json";

    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr);
        }
    }
    xmlhttp.open("GET", url, true); //ra lệnh
    xmlhttp.send(); //thực hiênn

    function myFunction(arr) {

        var div = "";
        var i;


        for (i = 0; i < arr.length; i++) {
            div += '<div class="row" ><div class="products_img" onclick="goDetail(' + arr[i].productid + ')" ><img src="' + arr[i].image + '" alt="" id="proimg"><h3>' + arr[i].name + '</h3><p>' + arr[i].price + '</p><input type="text" name="matour" id="matour"><input type="submit" value="Đặt??"></div></div>'

        }



        document.getElementById("idneee").innerHTML = div;

    }
</script> -->



</body>

</html>